/* ThankYou.css */

.ThankYou-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust the width as needed */
  }
  
  .bill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    color: #666;
    margin-bottom: 8px;
  }
  
  .order-id {
    font-weight: bold;
    color: #008080; /* Teal color */
  }
  